
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
 background-color: #ffffff;
}

.box{
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  color: black;
  margin: 15px;
  border-radius: 15px;
  transition: 1.6s;

  box-shadow: 2px 2px 12px rgb(67, 67, 67);
  border: solid 1px black
}
.box:hover{
  background-color: #445faa;
  scale: 0.958;
  color: rgb(229, 248, 214)
}
.card__header{
  background-color: #8257ef;
  border-radius: 15px 15px 0 0;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: 600;
  transition: 1.6s;
  
}
.box:hover .card__header {
  background-color: #2c3e50;
  color: rgb(227, 232, 210)

}
.card__content{
  padding-top: 10px;
  padding-left: 10px;
  gap: 10px;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.5; 
}

